body {
    background-color: rgb(212, 211, 203);
    color: black;
}
.container {
    background-color: rgb(211, 164, 34);
}
.thick-border {
    border-width: 15px !important;
    border-color: rgb(0, 42, 121) !important;
}
.card-space {
    margin: 5px !important;
}
h1 {
    color: whitesmoke;
    border-style: double;
    border-color: rgb(0, 42, 121);
    margin-top: 10px;
}
.navbar-navy {
    background-color: rgb(0, 42, 121) !important;
}
.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 42, 121);
    color: white;
    text-align: center;
  }
