body {
    background-color: rgb(212, 211, 203);
    color: black;
}
.container {
    background-color: rgb(255, 233, 108);
}
.thick-border {
    border-width: 15px !important;
    border-color: rgb(0, 42, 121) !important;
}